# Preparing the Data

In [3]:
 # Loading the data

from google.colab import drive
import pandas as pd
import numpy as np

drive.mount('/content/drive')

PO_data=pd.read_csv('/content/drive/MyDrive/NUS-ISS AIS Projects/Project 1/Data/filtered_data_final_2.csv')

# Display the first few rows of the dataset
print('\n First few rows of the PO Dump: \n', PO_data.head(), '\n')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

 First few rows of the PO Dump:
    Unnamed: 0  PO_NUM DOCCUR  DOCRATE SUPPLIER_CODE  \
0           0   53586    INR      1.0      VD001614
1           1   53586    INR      1.0      VD001614
2           2   53650    INR      1.0      VD003065
3           3   53684    INR      1.0      VD003071
4           4   53946    INR      1.0      VD002799

                           SUPPLIER_NAME    DOC_DATE DELIVERY_DATE  \
0  ITG SOFTWARE ENGINEERING (I) PVT. LTD  01-10-2021    30-11-2022
1  ITG SOFTWARE ENGINEERING (I) PVT. LTD  01-10-2021    30-11-2022
2    TIKMANY TELESYSTEMS PRIVATE LIMITED  07-10-2021    28-09-2021
3                       ZIP TECHNOLOGIES  08-10-2021    28-09-2021
4          INSPIRED TECHNOLOGIES PVT LTD  18-10-2021    30-11-2021

       PO_VALUE LOCATION  ...  TAX_AMOUNT(LC) LINETOTAL_WITH_TAX_(LC)  \
0  2.764740e+07      SEA  ...      410400.000            2.690400e+06
1  2.764740e+07      SEA  ...     3807000.000            2.495700e+07
2  3.589997e+03    NOIDA  ...         547.627            3.589997e+03
3  1.674998e+03    NOIDA  ...         255.508            1.674998e+03
4  2.301000e+07   MUMBAI  ...     3510000.000            2.301000e+07

  PART_ID_CLEANED              PART_NAME  \
0           17306                SENSORS
1           17340  SINGLE BOARD COMPUTER
2           28317              CONNECTOR
3           18181               PLC CARD
4           17448                 SENSOR

                                    PART_DESCRIPTION  WIDTH_(MM)  HEIGHT_(MM)  \
0                    MINIATURE PHOTOELECTRIC SENSORS         0.0          0.0
1  SINGLE BOARD COMPUTERS UP SQUARED BOARD WITH C...         0.0          0.0
2                 CONNECTION LINE YM2D24-050PN1MRJA4         NaN          NaN
3                   FX5-485-BD MITSUBISHI RS485 CARD         NaN          NaN
4                   SHORT RANGE SCANNER-CONFIGURABLE         0.0          0.0

   DEPTH_(MM)  MOUNTING_CLEARANCES_(MM)  WEIGHT_(KG)
0         0.0                       NaN          0.0
1         0.0                       NaN          0.0
2         NaN                       NaN          NaN
3         NaN                       NaN          NaN
4         0.0                       NaN          0.0

[5 rows x 27 columns]

Calculating Delivery Time for each line item

In [4]:
#Calculating Delivery Time

# Convert 'DOC_CREATION_DATE' and 'DELIVERY_DATE' to datetime objects
PO_data['DOC_DATE'] = pd.to_datetime(PO_data['DOC_DATE'], format='%d-%m-%Y')
PO_data['DELIVERY_DATE'] = pd.to_datetime(PO_data['DELIVERY_DATE'])

# Calculate delivery time in days
PO_data['DELIVERY_TIME'] = (PO_data['DELIVERY_DATE'] - PO_data['DOC_DATE']).dt.days

PO_data['DELIVERY_TIME'] = PO_data['DELIVERY_TIME'].abs()

# Print delivery time for each vendor
print(PO_data[['SUPPLIER_CODE', 'DELIVERY_TIME']])

      SUPPLIER_CODE  DELIVERY_TIME
0          VD001614            425
1          VD001614            425
2          VD003065              9
3          VD003071             10
4          VD002799             43
...             ...            ...
38967      VD002002             11
38968      VD002002             11
38969      VD002002             11
38970      VD002002             11
38971      VD002002             11

[38972 rows x 2 columns]

<ipython-input-4-e43fc9b04f13>:5: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  PO_data['DELIVERY_DATE'] = pd.to_datetime(PO_data['DELIVERY_DATE'])

In [5]:
#Checking for improper Delivery times

#Print all vendors with negative delivery time
negative_delivery_time = PO_data[PO_data['DELIVERY_TIME'] < 0]

#Total number of vendors with negative delivery date
print('Total Number of vendors with Negative deliveries:', len(negative_delivery_time['SUPPLIER_CODE'].unique()), '\n')
print(negative_delivery_time['SUPPLIER_CODE'].value_counts())

Total Number of vendors with Negative deliveries: 0

Series([], Name: count, dtype: int64)

In [6]:
Original_price = PO_data['PRICE']
Original_item_value = PO_data['ITEM_VALUE']
Original_delivery_time = PO_data['DELIVERY_TIME']

# EDA

In [7]:
# observing the shape of the data
print('Shape of the Data is: \t', PO_data.shape, '\n')

Shape of the Data is: 	 (38972, 28)

In [8]:
# Check the data types and non-null counts
print('\nData Types and Non-null Counts:\t', PO_data.info(), '\n')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38972 entries, 0 to 38971
Data columns (total 28 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                38972 non-null  int64
 1   PO_NUM                    38972 non-null  int64
 2   DOCCUR                    38972 non-null  object
 3   DOCRATE                   38972 non-null  float64
 4   SUPPLIER_CODE             38972 non-null  object
 5   SUPPLIER_NAME             38970 non-null  object
 6   DOC_DATE                  38972 non-null  datetime64[ns]
 7   DELIVERY_DATE             38972 non-null  datetime64[ns]
 8   PO_VALUE                  38972 non-null  float64
 9   LOCATION                  38972 non-null  object
 10  ITEM_CODE_CLEANED         38972 non-null  int64
 11  ITEM_NAME                 38972 non-null  object
 12  ITEM_DETAILS              38847 non-null  object
 13  UOM                       38972 non-null  object
 14  ORDERED_QUANTITY          38972 non-null  float64
 15  PRICE                     38972 non-null  float64
 16  ITEM_VALUE                38972 non-null  float64
 17  TAX_AMOUNT(LC)            38972 non-null  float64
 18  LINETOTAL_WITH_TAX_(LC)   38972 non-null  float64
 19  PART_ID_CLEANED           38972 non-null  int64
 20  PART_NAME                 38972 non-null  object
 21  PART_DESCRIPTION          38679 non-null  object
 22  WIDTH_(MM)                26996 non-null  float64
 23  HEIGHT_(MM)               27064 non-null  float64
 24  DEPTH_(MM)                26245 non-null  float64
 25  MOUNTING_CLEARANCES_(MM)  0 non-null      float64
 26  WEIGHT_(KG)               25417 non-null  float64
 27  DELIVERY_TIME             38972 non-null  int64
dtypes: datetime64[ns](2), float64(12), int64(5), object(9)
memory usage: 8.3+ MB

Data Types and Non-null Counts:	 None

In [9]:
# Check for missing values
print('Missing Values: \n', PO_data.isnull().sum(), '\n')

Missing Values:
 Unnamed: 0                      0
PO_NUM                          0
DOCCUR                          0
DOCRATE                         0
SUPPLIER_CODE                   0
SUPPLIER_NAME                   2
DOC_DATE                        0
DELIVERY_DATE                   0
PO_VALUE                        0
LOCATION                        0
ITEM_CODE_CLEANED               0
ITEM_NAME                       0
ITEM_DETAILS                  125
UOM                             0
ORDERED_QUANTITY                0
PRICE                           0
ITEM_VALUE                      0
TAX_AMOUNT(LC)                  0
LINETOTAL_WITH_TAX_(LC)         0
PART_ID_CLEANED                 0
PART_NAME                       0
PART_DESCRIPTION              293
WIDTH_(MM)                  11976
HEIGHT_(MM)                 11908
DEPTH_(MM)                  12727
MOUNTING_CLEARANCES_(MM)    38972
WEIGHT_(KG)                 13555
DELIVERY_TIME                   0
dtype: int64

In [10]:
# Check for duplicate rows
print('Number of duplicate rows: \t', PO_data.duplicated().sum(), '\n')

Number of duplicate rows: 	 0

In [11]:
#Summary of all the numerical data
print('All the Numerical Features: \n', PO_data.select_dtypes(include=['number']).columns, '\n')

# Summary statistics for numerical features
print('Summary for Numberical Features: \n', PO_data.describe(), '\n')

All the Numerical Features:
 Index(['Unnamed: 0', 'PO_NUM', 'DOCRATE', 'PO_VALUE', 'ITEM_CODE_CLEANED',
       'ORDERED_QUANTITY', 'PRICE', 'ITEM_VALUE', 'TAX_AMOUNT(LC)',
       'LINETOTAL_WITH_TAX_(LC)', 'PART_ID_CLEANED', 'WIDTH_(MM)',
       'HEIGHT_(MM)', 'DEPTH_(MM)', 'MOUNTING_CLEARANCES_(MM)', 'WEIGHT_(KG)',
       'DELIVERY_TIME'],
      dtype='object')

Summary for Numberical Features:
          Unnamed: 0        PO_NUM       DOCRATE  \
count  38972.000000  3.897200e+04  38972.000000
mean   19485.500000  1.326400e+08     11.108913
min        0.000000  5.358600e+04      0.531900
25%     9742.750000  7.353375e+04      1.000000
50%    19485.500000  2.324308e+08      1.000000
75%    29228.250000  2.324701e+08      1.000000
max    38971.000000  2.425306e+08    105.572200
std    11250.391682  1.156600e+08     27.008198

                            DOC_DATE                  DELIVERY_DATE  \
count                          38972                          38972
mean   2023-06-04 18:50:10.653802496  2023-07-27 10:06:05.062095872
min              2021-10-01 00:00:00            2020-05-30 00:00:00
25%              2023-01-12 00:00:00            2023-02-20 00:00:00
50%              2023-05-16 00:00:00            2023-06-30 00:00:00
75%              2023-12-16 00:00:00            2024-01-23 00:00:00
max              2024-05-14 00:00:00            2204-03-20 00:00:00
std                              NaN                            NaN

           PO_VALUE  ITEM_CODE_CLEANED  ORDERED_QUANTITY         PRICE  \
count  3.897200e+04       38972.000000      38972.000000  3.897200e+04
mean   1.381926e+06       27336.907857        439.640368  1.643622e+04
min    0.000000e+00       14730.000000          1.000000  1.000000e-02
25%    4.170651e+04       18060.000000          3.000000  7.050000e+01
50%    1.489307e+05       26245.000000         12.000000  5.573750e+02
75%    4.694166e+05       33073.000000        100.000000  3.750000e+03
max    2.177792e+08       56001.000000     142000.000000  3.690000e+06
std    9.543567e+06       10356.347113       2366.380728  1.048510e+05

         ITEM_VALUE  TAX_AMOUNT(LC)  LINETOTAL_WITH_TAX_(LC)  PART_ID_CLEANED  \
count  3.897200e+04    3.897200e+04             3.897200e+04     38972.000000
mean   1.295403e+05    1.955500e+04             1.490953e+05     27336.907857
min    1.000000e-02    0.000000e+00             1.200000e-02     14730.000000
25%    2.250000e+03    2.088000e+02             2.596000e+03     18060.000000
50%    1.000000e+04    1.296000e+03             1.156400e+04     26245.000000
75%    4.433824e+04    6.466716e+03             5.160169e+04     33073.000000
max    7.505000e+07    1.350900e+07             8.855900e+07     56001.000000
std    1.077163e+06    1.830149e+05             1.251052e+06     10356.347113

          WIDTH_(MM)   HEIGHT_(MM)     DEPTH_(MM)  MOUNTING_CLEARANCES_(MM)  \
count   26996.000000  27064.000000   26245.000000                       0.0
mean      347.839284    176.667481      78.847395                       NaN
min         0.000000      0.000000       0.000000                       NaN
25%         0.000000      0.000000       0.000000                       NaN
50%         0.000000      5.000000       0.000000                       NaN
75%        48.000000     73.000000      52.000000                       NaN
max    320000.000000  30000.000000  279400.000000                       NaN
std      8427.289840   1528.398766    2990.158178                       NaN

        WEIGHT_(KG)  DELIVERY_TIME
count  25417.000000   38972.000000
mean      48.407351      52.865391
min        0.000000       0.000000
25%        0.000000       9.000000
50%        0.000000      22.000000
75%        0.079000      44.000000
max    32100.000000   65765.000000
std      888.935567     748.387183

In [12]:
#Summary of all the categorical data
print('All the Categorical Features: \n', PO_data.select_dtypes(include=['object', 'category']).columns, '\n')

# Summary statistics for categorical features
print('Summary for Categorical Features: \n', PO_data.describe(include=['object']), '\n')

All the Categorical Features:
 Index(['DOCCUR', 'SUPPLIER_CODE', 'SUPPLIER_NAME', 'LOCATION', 'ITEM_NAME',
       'ITEM_DETAILS', 'UOM', 'PART_NAME', 'PART_DESCRIPTION'],
      dtype='object')

Summary for Categorical Features:
        DOCCUR SUPPLIER_CODE          SUPPLIER_NAME LOCATION ITEM_NAME  \
count   38972         38972                  38970    38972     38972
unique      7          1133                   1107       56      2464
top       INR      VF000363  DIGI-KEY ELECTRONICS.    NOIDA     CABLE
freq    33941          2661                   2661    25194      2338

                                             ITEM_DETAILS    UOM PART_NAME  \
count                                               38847  38972     38972
unique                                               3263     17      1995
top     <DASH>LFLEX<REGISTERED> 100 POWER AND CONTROL ...    NOS     CABLE
freq                                                  132  34737      2968

                                         PART_DESCRIPTION
count                                               38679
unique                                               3242
top     OLFLEX 100 POWER AND CONTROL CABLE; 4G1.5; 9.8...
freq                                                  132

In [13]:
# Standardize the numeric columns

from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
PO_data[['PRICE', 'ITEM_VALUE', 'DELIVERY_TIME']] = scaler.fit_transform(PO_data[['PRICE', 'ITEM_VALUE', 'DELIVERY_TIME']])

In [14]:
# Encode categorical variables
PO_data = pd.get_dummies(PO_data, columns=['SUPPLIER_NAME', 'PART_NAME'], drop_first=True)

# Training with Collaborative Fitting with SVD

In [15]:
!pip install scikit-surprise

Collecting scikit-surprise
  Downloading scikit_surprise-1.1.4.tar.gz (154 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 154.4/154.4 kB 2.9 MB/s eta 0:00:00
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: joblib>=1.2.0 in /usr/local/lib/python3.10/dist-packages (from scikit-surprise) (1.4.2)
Requirement already satisfied: numpy>=1.19.5 in /usr/local/lib/python3.10/dist-packages (from scikit-surprise) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in /usr/local/lib/python3.10/dist-packages (from scikit-surprise) (1.13.1)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (pyproject.toml) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.4-cp310-cp310-linux_x86_64.whl size=2357283 sha256=d632f8e604e9cea7686b200cd67746da7bbb50490dba67a7ec00219ed2422065
  Stored in directory: /root/.cache/pip/wheels/4b/3f/df/6acbf0a40397d9bf3ff97f582cc22fb9ce66adde75bc71fd54
Successfully built scikit-surprise
Installing collected packages: scikit-surprise
Successfully installed scikit-surprise-1.1.4

Ranking Vendors out of 10 based on Delivery Times

In [18]:
from surprise import Dataset, Reader, SVD
from surprise.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

# Prepare data for Surprise library
reader = Reader(rating_scale=(1, 10))  # Assuming vendor ranking is from 1 to 10

data = PO_data[['SUPPLIER_CODE', 'DELIVERY_TIME', 'PRICE']]
data = data.rename(columns={'SUPPLIER_CODE': 'userID', 'DELIVERY_TIME': 'itemID', 'PRICE': 'rating'})

dataset = Dataset.load_from_df(data[['userID', 'itemID', 'rating']], reader)
trainset, testset = train_test_split(dataset, test_size=.25)

# Train SVD model
algo = SVD()
algo.fit(trainset)

# Predict ratings for all vendor-delivery_time combinations
predictions = algo.test(testset)

# Create a DataFrame to store predicted ratings
predicted_ratings_df = pd.DataFrame(columns=['SUPPLIER_CODE', 'DELIVERY_TIME', 'predicted_rating'])
for uid, iid, true_r, est, _ in predictions:
    predicted_ratings_df = pd.concat([predicted_ratings_df, pd.DataFrame({'SUPPLIER_CODE': [uid], 'DELIVERY_TIME': [iid], 'predicted_rating': [est]})], ignore_index=True)


# Scale the predicted ratings to be between 1 and 10
scaler = MinMaxScaler(feature_range=(1, 10))
predicted_ratings_df['scaled_rating'] = scaler.fit_transform(predicted_ratings_df[['predicted_rating']])

# Group by vendor and calculate the average predicted rating
vendor_ratings = predicted_ratings_df.groupby('SUPPLIER_CODE')['scaled_rating'].mean()

# Sort vendors by their average predicted rating in descending order
ranked_vendors = vendor_ratings.sort_values(ascending=False)


ranked_vendors

<ipython-input-18-c578a8ce7e0a>:24: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  predicted_ratings_df = pd.concat([predicted_ratings_df, pd.DataFrame({'SUPPLIER_CODE': [uid], 'DELIVERY_TIME': [iid], 'predicted_rating': [est]})], ignore_index=True)

SUPPLIER_CODE
VD003579     10.000000
VD003897     10.000000
VCD000030    10.000000
VD002449      9.313732
VD000342      5.476514
               ...
VD002456      1.000000
VD002460      1.000000
VD002461      1.000000
VD002465      1.000000
VD003403      1.000000
Name: scaled_rating, Length: 731, dtype: float64

Traning model for vendor recommendation based on Delivery Time

In [19]:
from surprise import SVD
from surprise import accuracy
from surprise import Reader
from surprise import Dataset
from sklearn.model_selection import train_test_split

y = PO_data['DELIVERY_TIME']
X = PO_data.drop(columns=['DELIVERY_TIME'])

# Split the data (e.g., 80% training, 20% testing)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

#Create a Surprise Dateset
reader = Reader(rating_scale=(PO_data['DELIVERY_TIME'].min(), PO_data['DELIVERY_TIME'].max()))

# Create the trainset from the training data
train_df = pd.DataFrame({'userID': X_train.index, 'itemID': X_train['PART_ID_CLEANED'], 'rating': y_train})
trainset = Dataset.load_from_df(train_df[['userID', 'itemID', 'rating']], reader)

# Use the SVD algorithm
model = SVD()

# Train the model on the Surprise trainset
model.fit(trainset.build_full_trainset())

# Make predictions - need to create testset similar to trainset
test_df = pd.DataFrame({'userID': X_test.index, 'itemID': X_test['PART_ID_CLEANED'], 'rating': y_test})
testset = Dataset.load_from_df(test_df[['userID', 'itemID', 'rating']], reader).build_full_trainset().build_testset() # create testset
predictions = model.test(testset) # get predictions on the testset

# Evaluate the model
accuracy.mse(predictions)

# Evaluate accuracy
accuracy.rmse(predictions)

MSE: 0.0205
RMSE: 0.1433

0.14330072257063814

In [22]:
# Replace the scaled columns with the original values
PO_data['PRICE'] = Original_price
PO_data['ITEM_VALUE'] = Original_item_value
PO_data['DELIVERY_TIME'] = Original_delivery_time

Get top 3 Vendors for a particular part name on the basis of delivery time

In [30]:
# Get the top 3 vendors for a specific component

#randomly select a part_name
import random

# Get all available column names
available_columns = PO_data.columns

# Check if 'PART_NAME' exists, otherwise, use a different relevant column
part_name_column = 'PART_NAME' if 'PART_NAME' in available_columns else available_columns[0]  # Replace available_columns[0] with an appropriate column if needed

# Randomly select a part_name
part_name = random.choice(PO_data[part_name_column].unique())

print(f"Randomly selected part name: {part_name}")

component_id = PO_data[PO_data[part_name_column] == part_name]['PART_ID_CLEANED'].iloc[0]

recommended_vendors = PO_data[PO_data['PART_ID_CLEANED'] == component_id]
recommended_vendors = recommended_vendors.sort_values(by='DELIVERY_TIME', ascending=True)

# Print the top N vendors for the component
top_vendors = recommended_vendors.head(3)
print(top_vendors[['SUPPLIER_CODE', 'DELIVERY_TIME', 'PRICE', 'DOCCUR']])

Randomly selected part name: 2741
      SUPPLIER_CODE  DELIVERY_TIME    PRICE DOCCUR
2972      VCD000071              3  57900.0    INR
35835      VD002572              5  42900.0    INR
10568      VD000156              7  44500.0    INR